@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --Amarrillo: #ff9806;
    --Rojo: #ff6961;
    --Blanco: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/wave-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    padding: 20px;
    display: grid;
    grid-template:
        "Aside Content" auto / 
        min-content auto;
}

.Desplegar-Aside{
    background-color: var(--Rojo);
    position: fixed;
    left: 0;
    top: 120px;
    font-size: 1.6em;
    width: 30px;
    padding: 5px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

.Aside-Content{
    z-index: 1;
    background-color: var(--Blanco);
    grid-area: Aside;
    width: 250px;
    font-size: 14px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 94%;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
    transition: .3s;
}

.Desplegar{
    display: flex;
}

.Desplazar{
    left: 240px;
    top: 45px;
    transform: rotate(180deg);
}

.hr{
    margin-top: -205px;
}


.Nombre-Administrador{
    width: 100%;
    height: 80px;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template:
        "Icon Nombre"
        "espacio espacio";
    gap: 10px;
}

.Nombre-Administrador span{
    grid-area: Icon;
    background-color: black;
    padding: 10px;
    border-radius: 50vh;
    color: #ffff;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
}

.fa-user{
    font-size: 2em;
}

.Nombre-Area {
    grid-area: Nombre;
}

.Nombre-Area h1 {
    font-size: 2.3em;
}

.Nombre-Area h3 {
    color: #8E8E8E;
    font-size: 1em;
}

.Nombre-Administrador hr{
    grid-area: espacio;
    width: 100%;
}

.Opciones-Content{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Option-Area {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    height: 50px;
    transition: .3s;
}

.Option-Area:hover {
    background-color: #E1E1E1;
    border-radius: 10px;
}

.Option-Area span {
    width: 20%;
}

.Text-Option{
    width: 80%;
    font-size: 1.3em;
    color: #000;
}

.Opciones-Tittle {
    width: 100%;
    text-align: center;
    color: #8E8E8E;
    font-size: .9em;
}

.Icons {
    font-size: 1.5em;
}

.fa-user-plus {
    color: #E67F0D;
}

.fa-map-location-dot{
    color: #FFE156;
}

.fa-cart-arrow-down {
    color: #77ACA2;
}

.fa-motorcycle {
    color: #F2545B;
}

.fa-users {
    color: #B388EB;
}

.Logout-Content {
    width: 100%;
    padding: 20px;
}

.Logout-Content hr{
    margin-bottom: 15px;
}

.Logout-Area {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #5e72e4;
    color: var(--Blanco);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.fa-right-from-bracket{
    font-size: 1.6em;
    color: red;
}


.Content-Section{
    grid-area: Content;
    margin-left: 0px;
    display: grid;
    grid-template:
        "PaginaS" max-content
        "Contenido" auto;
    gap: 20px;
}

.Page_Seleccion{
    grid-area: PaginaS;
    display: grid;
    width: max-content;
    grid-template: 
        "Pagina Seleccion -" min-content
        "Titulo Titulo Titulo" max-content /
        max-content max-content;

    font-size: .82em;
}

.Page_Seleccion .Pagina {
    grid-area: Pagina;
    color: #E1E1E1;
}
.Page_Seleccion .Seleccion{
    grid-area: Seleccion;
    color: var(--Blanco);
}

.Titulo-Pagina{
    grid-area: Titulo;
    display: block;
    font-size: 2.1em;
    width: max-content;
}

.Contenido {
    grid-area: Contenido;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Barras {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Agregar-Productos{
    height: max-content;
    width: max-content;
    background-color: var(--Blanco);
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

.Agregar-Productos:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.Agregar-Productos:hover  span{
    background-color: var(--Blanco);
}

.Agregar-Productos:hover .fa-plus {
    color: #78BDEB;
}


.Agregar-Productos span {
    width: 50px;
    height: 50px;
    background-color: #78BDEB;
    border-radius: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.Agregar-Productos .fa-plus {
    font-size: 2em;
    color: var(--Blanco);
    margin-left: 2px;
    transition: .3s;
}

.Titulo {
    background-color: var(--Blanco);
    width: max-content;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template:
        "Titulo Icono"
        "Numero Icono";
    column-gap: 20px;
    align-items: center;
}

.Titulo h1 {
    grid-area: Titulo;
    font-size: 1.8em;
}

.Titulo h4 {
    grid-area: Numero;
    color: grey;
}

.Titulo span {
    grid-area: Icono;
    font-size: 2em;
    color: var(--Rojo);
}

.Lista-Productos{
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    gap: 30px;
}

.Imagen-Area{
    width: 175px;
    height: 120px;
    transition: .3s;
}

.Imagen-Producto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: .3s;
}

.Imagen-Producto:hover {
    transform: translate(0px, 20px);
}


.Imagen-Area h2 {
    position: relative;
    top: -115px;
    left: 8px;
    background-color: var(--Rojo);
    border-radius: 50vh;
    width: max-content;
    padding: 5px;
    color: white;
    font-size: 1.1em;
    transition: .3s;
}

.Producto-Info {
    position: relative;
    top: -55px;
    right: -150px;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    border-radius: 50vh;
    background-color: #5e72e4;
    border: none;
    color: var(--Blanco);
    cursor: pointer;
    transition: .3s;
}

.Producto-Info:hover {
    /*background-color: rgba(0, 0, 0, 0);*/
    background-color: var(--Blanco);
    color: #5e72e4;
}
.Imagen-Producto:hover .Producto-Info{
    transform: translate(0px, 20px);
}

.Instrucciones {
    width: max-content;
    background-color: var(--Blanco);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    height: max-content;
    justify-content: center;
    align-items: center;
}

.Instrucciones h1{
    font-size: .9em;
}

.Instrucciones span {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #78BDEB;
    justify-content: center;
    align-items: center;
    border-radius: 50vh;
}

.Instrucciones .fa-pen{
    font-size: 1.5em;
}

.Formulario-Imagenes {
    grid-template:
        "Form"
        "Imagen" /
        auto;
}

.Formulario {
    grid-area: Form;
    background-color: var(--Blanco);
    padding: 20px;
    border-radius: 20px;
    display: grid;
    gap: 10px;
    height: max-content;
    width: auto;
    margin-bottom: 20px;
}

.aspNetHidden{
    display: none;
}

.Imagenes{
    grid-area: Imagen;
    background-color: var(--Blanco);
    border-radius: 20px;
    padding: 20px;
    max-height: 619px;
    margin-bottom: 20px;
}

.Imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.Area-File{
    display: grid;
    grid-template: 
        "Indication"
        "Input";
    gap: 5px;
}

.Area-File h3{
    grid-area: Indication;
    font-size: 1em;
}

#ContentPlaceHolder1_FileUpload1{
    width: 100%;
    margin-top: 30px;
    height: 54px;
}

#FileUpload1{
    width: 100%;
    margin-top: 8px;
    height: 40px;
}


.file-select {
    position: relative;
    display: inline-block;
}

.file-select::before {
    margin-top: 30px;
    background-color: var(--Rojo);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    content: 'Seleccionar';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: .3s;
    cursor: pointer;
}

.file-select:hover::before {
    background-color: var(--Amarrillo);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
}

#src-file1::before {
content: 'Seleccionar Imagen';
}


.Area-Precio{
    display: grid;
    grid-template: 
        "Indicacion Indicacion"
        "Icono Input";
    width: max-content;
    row-gap: 5px;
}

.Area-Precio h3 {
    grid-area: Indicacion;
    font-size: 1.3em;
    width: max-content;

}

.Area-Precio span {
    grid-area: Icono;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid var(--Amarrillo);
    border-right: none;
    width: 60px;
    height: 60px;
    font-size: 1.9em;
}

.Area-Precio .Precio {
    grid-area: Input;
    border: 2px solid var(--Amarrillo);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 238px;
    outline: none;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
}

.Precio:hover {
    border: 2px solid var(--Rojo);
}

.Precio:focus {
    border: 2px solid var(--Rojo);
}


.Area-Stock {
    display: grid;
    grid-template:
        "Indicacion Indicacion"
        "Icono Input";
    row-gap: 5px;
    width: max-content;
}

.Area-Stock h3 {
    grid-area: Indicacion;
    font-size: 1.3em;
}

.Area-Stock span {
    grid-area: Icono;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 2px solid var(--Amarrillo);
    border-right: none;
    width: 60px;
    height: 60px;
    font-size: 1.9em;
}

.Area-Stock .Stock {
    grid-area: Input;
    border: 2px solid var(--Amarrillo);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 238px;
    outline: none;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3em;
}

.Stock:hover {
    border: 2px solid var(--Rojo);
}

.Stock:focus {
    border: 2px solid var(--Rojo);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.textarea {
    resize: none;
    border: 2px solid var(--Amarrillo);
    border-radius: 10px;
    padding: 10px;
    outline: none;
}

.textarea:hover {
    border: 2px solid var(--Rojo);
}

.textarea:focus {
    border: 2px solid var(--Rojo);
}


.Area-Descripcion {
    display: grid;
    grid-template:
        "Indicacion"
        "Input";
    gap: 10px;
    width: max-content;
}

.Area-Descripcion h3 {
    grid-area: Indicacion;
    font-size: 1.3em;
}


.Area-Precio Text-Box {
    grid-area: Input;
}

.Añadir {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--Amarrillo);
    font-size: 1.2em;
    transition: .3s;
}

.Añadir:hover {
    background-color: var(--Rojo);
    color: #ffff;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.40);
}

.Area-Radio{
    display: grid;
    gap: 10px;
}

.Area-Radio h3 {
    font-size: 1.3em;
}

.Radio{
    display: flex;
    gap: 10px;
    align-items: center;
}

.Radio label {
    font-size: 1.2em;
}


#ContentPlaceHolder1_unidad1 {
    width: 25px;
    height: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
}

#ContentPlaceHolder1_unidad2 {
    width: 25px;
    height: 25px;
}

.Formulario-Registrar{
    display: flex;
}

.fa-truck {
    font-size: 6em;
    color: var(--Amarrillo);
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
}

.numbers-Containers {
    display: flex;
}

form {
    grid-area: Inputs;
    display: grid;
    gap: 20px;
}

.Area-Input_Nombre, .Area-Input_Edad, .Area-Input_Telefono, .Area-Input_Direction {
    display: grid;
    grid-template:
        "Tittles Tittles"
        "Icon Input";
    align-items: center;
    width: max-content;
    height: max-content;
}

.Area-Input_password {
    display: grid;
    grid-template:
        "Tittles Tittles Tittles"
        "Icon Input Eye";
    align-items: center;
    width: max-content;
}

.Tittles {
    grid-area: Tittles;
    margin-bottom: 7px;
    font-size: 1.2em;
}

.user-Icon{
    font-size: 1em;
}

.IconsRR {
    grid-area: Icon;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid var(--Amarrillo);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    padding: 15px;
    padding-left: 13px;
    font-size: 1.9em;
}

.numbers-Containers{
    display: flex;
    gap: 10px;
}

.Nombre-Input, .Edad-Input, .Telefono-Input, .Direccion-Input {
    grid-area: Input;
    height: 60px;
    width: 286.5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid var(--Amarrillo);
    padding: 10px;
    transition: .2s;
    outline: none;
    font-size: 1.2em;
}

input[type="number"] {
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance: textfield !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Edad-Input {
    width: 80px;
}

.Telefono-Input {
    width: 137px;
}

.input-Password {
    width: 226.5px;
    grid-area: Input;
    height: 60px;
    border: 1px solid var(--Amarrillo);
    padding: 10px;
    transition: .2s;
    outline: none;
    font-size: 1.2em;
}

.input-Password:hover, .Nombre-Input:hover, .Edad-Input:hover, .Telefono-Input:hover, .Direccion-Input:hover {
    border: 1px solid var(--Rojo);
}

.Edad-Input:invalid{
    border: 2px solid red;
    animation: shake 0.2s 2;
}

.input-Password:focus, .Nombre-Input:focus, .Edad-Input:focus, .Telefono-Input:focus, .Direccion-Input:focus {
    border: 1px solid var(--Rojo);
}


.input-Password:focus {
    border: 1px solid var(--Rojo);
}

.input-Password:focus, .input-Text:focus {
    border: 1px solid var(--Rojo);
}

.eye {
    grid-area: Eye;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--Amarrillo);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    cursor: pointer;
    padding: 15px;
    padding-right: 13px;
    font-size: 1.9em;
}

.Area-Input_Button .button {
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    background-color: var(--Amarrillo);
    transition: .3s;
    font-size: 1.3em;
}

.Area-Input_Button .button:hover {
    background-color: var(--Rojo);
    color: #ffff;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.40);
}

.Imagen-Repartidor{
    background: linear-gradient(to right, rgb(0 0 0 / 0.5), rgb(0 0 0 / 0)), url(https://images.pexels.com/photos/4393432/pexels-photo-4393432.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    width: 100%;
    height: 580px;
    background-size: cover;
    border-radius: 10px;
}

.Repartidores-Ins span{
    background-color: #f1545b;
}

.Lista-Repartidores, .Lista-Usuarios{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.Repartidor-Area, .Usuario-Area{
    width: 100%;
    height: 80px;
    background-color: rgb(215, 232, 235);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    gap: 20px;
}

.Repartidor-Area:hover, .Usuario-Area:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.40);
}

.Repartidor-Area:nth-child(odd),
.Usuario-Area:nth-child(odd){
    background-color: #98b2d8;
}

.IconoPersona{
    width: 48px;
    height: 48px;
    font-size: 3em;
    background-color: var(--Rojo);
    border-radius: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NombreRepartidor{
    font-size: 1em;
}

.Input-NombreRepartidor, .Input-NombreUsuario{
    display: none;
}

.Button-InfoUsuario{
    width: 60px;
    height: 60px;
    border-radius: 50vh;
    border: none;
    font-size: 1.9em;
    cursor: pointer;
    transition: .3s;
}

.Button-InfoUsuario:hover{
    background-color: var(--Amarrillo);
}

.Info-Repartidor{
    width: max-content;
    height: max-content;
    background-color: var(--Blanco);
    gap: 20px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(1, max-content);
}

.Button-Actualizar{
    display: grid;
    align-items: end;
}

.Activar-Desactivar{
    display: grid;
    grid-template-columns: repeat(2, 48%);
    gap: 10px;
    align-content: center;
}

.Activar-Desactivar button{
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
    font-size: 1.2em;
    padding: 10px;
}

.Activar{
    background-color: #90BE6D;
}
.Activar:hover {
    background-color: #597941;
    color: #ffff;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.40);
}
.Desactivar{
    background-color: #FF3C38;
}

.Desactivar:hover{
    background-color: #b8221f;
    color: #ffff;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.40);
}

.Area-Ocultar-Desocultar{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.Area-Ocultar-Desocultar div{
    width: 100%;
    height: 60px;
}

.Ocultar, .Desocultar{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    transition: .3s;
    cursor: pointer;

}

.Ocultar {
    background-color: #FF4E00;
}

.Ocultar:hover{
    background-color: #FF4E00;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.40);
    color: var(--Blanco);
}

.Desocultar {
    background-color: #14CC60;
}

.Desocultar:hover{
    background-color: #14CC60;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.40);
    color: var(--Blanco);
}

.Usuarios-Ins span{
    background-color: #90BE6D;
}

.Area-InstruccionBuscar{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Area-Buscar{
    display: flex;
    padding: 20px;
    background-color: var(--Blanco);
    border-radius: 20px;
    width: max-content;
}

.Input-Search {
    border-radius: 10px;
    border: 2px solid var(--Amarrillo);
    outline: none;
    width: 230px;
    padding: 10px;
    background-color: rgb(235, 235, 235);
    color: #000;
    font-size: .9m;
}

.Input-Search:focus{
    border: 2px solid var(--Rojo)
}

.Button-Search {
    border-radius: 10px;
    border:none;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    cursor: pointer;
    transition: .3s;
}

.Button-Search:hover{
    background-color: black;
    color: #f0f0f0;
}

.IconoUsuario{
    font-size: 1.9em;
}

.Informacion-Imagen{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Area-Info_Usuario{
    background-color: var(--Blanco);
    width: 700px;
    height: max-content;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    gap: 20px;
    width: max-content;
}

.Area-Info_Usuario h3 {
    color: grey;
}

.Area-Imagen_Usuario {
    width: 100%;
    height: 100%;
    background-color: var(--Blanco);
    border-radius: 20px;
    padding: 20px;
}

.Imagen-Usuario{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.Area-Datos_Usuario{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: max-content;
    column-gap: 20px;
    align-items: center;

}

.Area-Datos_Usuario span{
    grid-column: 1 / 2;
    grid-row: 1/ 3;
    font-size: 1.5em;
}
.Area-Datos_Usuario h1{
    grid-column: 2 / 3;
    grid-row: 1/ 2;
}
.Area-Datos_Usuario h3{
    grid-column: 2 / 3;
    grid-row:  2 / 3;
    font-size: 1.15em
}

.Icono-Usuario-user{
    color: #51b8f8;
}

.Icono-Usuario-calendar{
    color: #e15dc4;
}

.Icono-Usuario-phone{
    color: #9fd9a5;
}

.Icono-Usuario-star{
    color: var(--Amarrillo)
}

@media(min-width: 728px){
    .Barras{
        flex-direction: row;
    }
    .Imagen-Area{
        width: 200px;
        height: 140px;
    }
    .Imagen-Area h2 {
        top: -135px
    }
    .Producto-Info{
        right: -180px;
    }
    .Area-File h3{
        font-size: 1.3em;
    }
    
    .Area-Precio .Precio {
        width: 348px;
    }
    
    .Area-Stock .Stock {
        width: 348px;
    }
    .Instrucciones h1{
        font-size: 1.3em;
    }
    .Informacion-Imagen{
        display: flex;
        flex-direction:row;
        gap: 20px;
    }
    .Area-Info_Usuario{
        width: 700px;
    }
    .Nombre-Input, .Edad-Input, .Telefono-Input, .Direccion-Input {
        width: 376.5px;
    }
    
    .Edad-Input {
        width: 122px;
    }
    .Telefono-Input {
        width: 184px;
    }
    .input-Password{
        width: 316.5px;
    }
    .Area-InstruccionBuscar{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .NombreRepartidor{
        font-size: 1.3em;
    }
}

@media(min-width: 1024px){
    .Aside-Content{
        display: flex;
    }
    .Content-Section{
        margin-left: 280px;
    }
    .Desplegar-Aside{
        display: none;
    }
    .Formulario-Imagenes {
        display: grid;
        grid-template:
            "Form Imagen" /
            min-content auto;
        gap: 20px;
    }
}

@keyframes shake {
    25% {
        translate: 6px 0;
    }
    50% {
        translate: -6px 0;
    }
    75%{
        translate: 6px 0;
    }
}